{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Dento - Dentist &amp; Medical HTML Template">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>HealDi {% block title %} {% endblock %}</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'style.css' %}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% block styles %} {% endblock %}

</head>

<body>
   {% include 'nav.html' %}

  <!-- ***** Header Area End ***** -->
      {% block content %}
  {% endblock  %}
  <!-- ***** Welcome Area Start ***** -->

  <!-- ***** Blog Area End ***** -->

<!-- ***** Footer Area Start ***** -->
<footer class="footer-area bg-img bg-gradient-overlay">
    <div class="container" style="background-color: #f8f8f8; padding: 30px 15px;">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget">
            <a href="./index.html" class="d-block mb-4">
              <img src="{% static 'img/healdi.png' %}" alt="Healdi" width="150" height="150">
            </a>
  
            <div class="footer-contact">
              <p>Your Health Companion</p>
              <p>Developer: Sambridhi Deo</p>
            </div>
          </div>
        </div>
  
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <!-- Add any additional content or widgets here -->
          </div>
        </div>
  
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Quick Links</h5>
  
            <!-- Quick Links Nav -->
            <nav>
              <ul class="quick-links">
                <li><a href="#">About</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Policy</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Services</a></li>
              </ul>
            </nav>
          </div>
        </div>
  
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Newsletter</h5>
  
            <p>Stay informed with our upcoming newsletters!</p>
            <!-- Newsletter Form -->
            <div class="footer-newsletter-form">
              <form action="#" method="post">
                <input type="email" name="nl-email" value="" placeholder="Email Address">
                <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
              </form>
            </div>
  
            <!-- Social Info -->
            <div class="footer-social-info">
              <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Copywrite Area -->
    <div class="container" style="background-color: #333; padding: 15px 15px; color: #fff;">
      <div class="row">
        <div class="col-12">
          <div class="copywrite-content">
            <p>&copy; <script>document.write(new Date().getFullYear());</script> Healdi. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->
  

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'js/default-assets/active.js' %}"></script>


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   {% block javascripts %} {% endblock %}
</body>

</html>